# Files to ignore from back

.idea/
finka_back/venv
finka_back/finka/finka/__pycache__/


# Files to ignore from front

# dependencies
finka_front/node_modules/

# Expo
finka_front/.expo/
finka_front/dist/
finka_front/web-build/
finka_front/expo-env.d.ts

# Native
finka_front/*.orig.*
finka_front/*.jks
finka_front/*.p8
finka_front/*.p12
finka_front/*.key
finka_front/*.mobileprovision

# Metro
finka_front/.metro-health-check*

# debug
finka_front/npm-debug.*
finka_front/yarn-debug.*
finka_front/yarn-error.*

# macOS
finka_front/.DS_Store
finka_front/*.pem

# local env files
finka_front/.env*.local

# typescript
finka_front/*.tsbuildinfo

finka_front/app-example
